.events-hero {
  display: flex;
  margin: 4rem;
  align-items: center;
  justify-content: center;
}
.events-hero h1 {
  font-family: var(--italicised);
  color: orange;
  font-size: 4rem;
}

.weekly-guide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  gap: 4rem;
}
.todos {
  border-radius: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 60%;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: var(--secondary-gray);
  box-shadow: -4px 6px 65px -22px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: -4px 6px 65px -22px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: -4px 6px 65px -22px rgba(0, 0, 0, 0.56);
  margin-bottom: 4rem;
}
.day {
  color: orange;
}
