.tracks-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 0;
  gap: 2rem;
}
.tracks-hero-section {
  display: flex;
  justify-content: center;
  height: 400px;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/tracks-hero-header/tracks-hero-image.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.tracks-hero-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  font-weight: 900;
  font-size: 3rem;
  color: white;
}

/* Tracks Container */
.track-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 400px;
  height: 1000px;
  border-radius: 1rem;
  box-shadow: -1px 2px 15px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 2px 15px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 2px 15px 3px rgba(0, 0, 0, 0.25);
  transition: transform 1.4s ease-in-out;
  transition: all 1.4s;
}
.track-container:hover {
  background-color: purple;

  transform: scale(1.03);
}
.track-container-image-wrapper {
  width: 400px;
  height: 500px;
}
.track-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tracks-header {
  font-size: 2rem;
  font-family: var(--secondary-font);
  color: orange;
}
.track {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-family: var(--secondary-font);
  color: orange;
}
.track-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.track-details-paragraph {
  font-size: 2rem;
  font: 700;
  text-overflow: clip;
  font-family: var(--primary-font);
  color: black;
  transition: all 3s;
}
.track-details-paragraph:hover {
  color: white;
}

.track-btn {
  padding: 1.5rem;
  border-radius: 1rem;
  position: absolute;
  font-size: 2rem;
  left: 60%;
  background-color: orange;
  bottom: -3%;
  color: white;
  border: none;
  transition: all 1s;
  margin-bottom: 3rem;
}
.track-btn:hover {
  background-color: rgb(174, 130, 48);
}

/* Subscribe Part */
.subscribe-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subscribe-header {
  margin-top: 4rem;
}
.subscribe-header h1 {
  font-size: 4rem;
  color: purple;
  font-family: var(--italicised);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  border-radius: 2rem;
  margin: 6rem;
  background-color: var(--primary-color);
  box-shadow: -1px 2px 15px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 2px 15px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 2px 15px 3px rgba(0, 0, 0, 0.25);
}
.Input {
  padding-right: 20rem;
  border-radius: 2rem;
  font-size: 2rem;
  margin: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  outline-color: blue;
}
select {
  padding-right: 18rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  border-radius: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.subscribe-btn {
  padding: 8rem 17rem;
  border-radius: 1rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: all 1s;
}
.subscribe-btn:hover {
  background-color: orange;
  color: white;
}
@media screen and (max-width: 37.5em) {
  form {
    width: 400px;
  }
  .Input,
  .subscribe-btn,
  select {
    padding-right: 14rem;
  }
  .tracks-hero-header {
    font-size: 3rem;
  }
}
@media screen and (max-width: 25em) {
  form {
    width: 300px;
  }
  .track-container {
    width: 350px;
    height: 920px;
  }
  .track-container-image-wrapper {
    width: 350px;
  }
  .Input,
  .subscribe-btn,
  select {
    padding-right: 6rem;
    align-items: center;
  }
  .track-details-paragraph{
    font-size: 1.5rem;
  }
}
