* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #e5e4e2;
  --secondary-gray: #6082b6;
  --color-White: #ffffff;
  --color-black: #353935;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Oswald", sans-serif;
  --italicised: "Dancing Script", cursive;
  --fancy-font: "Lora", serif;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6 rem;
  background-color: var(--primary-color);
}
a {
  text-decoration: none;
}
